[dns] OTBR DNS server implementation of SOA record for its authoritative zone (default.service.arpa)

**Describe the bug** 

For a DNS authoritative server, the SOA and NS records are mandatory (Section 6.1 of RFC 2181) for its zone.
The OTBR DNS server responds RCode NotImp (4) on a query for the SOA record.

**To Reproduce** 

setup: see #2683 

In the dongle DNS client, send the query:

```
ot udp send fd90:5a2a:72b8:29f0:0:ff:fe00:fc33 53 -x 031d010000010000000000010764656661756c7407736572766963650461727061000006000100002905c0000000000000
```

**Expected behavior** 

SOA record returned. RFC 1035 defines the fields.

This can be done directly by the OT stack code, which also answers "ipv4only.arpa" - no need to send the query to the host processor I think.

**Console/log output** 
Can be added

**Additional context** 
In cert testing, it was found some Thread devices perform the SOA query to verify liveness of the DNS server and verify presence of the default domain. The reference OTBR used in the test should be able to respond per IETF specifications.


Created related SPEC Jira: https://threadgroup.atlassian.net/browse/SPEC-1389 - the question is whether SOA support should be made more clear (or else, state that we deviate from IETF by not supporting SOA.)

This is duplicated by https://github.com/openthread/openthread/issues/11396.

PR adding support for SOA:
- https://github.com/openthread/openthread/pull/11413

Resolved by https://github.com/openthread/openthread/pull/11413