[mdsn] handling of txt record and boolean attributes

I have been looking into the `Mdns::Publisher` related to `TXT` data record in published services.

Per RFC 6763, section 6.4, 

_"If there is no '=' in a DNS-SD TXT record string, then it is a boolean attribute, simply identified as being present, with no value."._ 

We can also have:

_"Attribute present, with empty value (e.g., "PlugIns=" -- the server supports plugins, but none are presently installed)"_

But the `Publisher` API  won't allow us to define/distinguish such entries since we use:

```c++
    struct TxtEntry
    {
        std::string          mName;  ///< The name of the TXT entry.
        std::vector<uint8_t> mValue; ///< The value of the TXT entry.
 ```

And the `EncodeTxtData()` always inserts `=` between key and value when constructing the data.

In `AdvertisingProxy::MakeTxtList()` we construct array of `TxtEntry` using `otDnsTxtEntryIterator` and `otDnsGetNextTxtEntry()` to parse the encoded TXT data. 
- The `otDnsGetNextTxtEntry()` will indicate boolean attribute by setting  `mValue` in `otDnsTxtEntry` to `NULL` 
   - (in contrast with an empty value where `mValue` is non-null but `mValueLength` is zero). 
- I think with the current code we would incorrectly encode a "boolean attribute" as a empty value key `"key="` format when advertising it on mDNS.

------

One  ides is to change the `Publisher` APIs to directly get the encoded TXT data instead of a `TxtEntry` list.
- For mDNSResponder we can directly use the encoded data (so avoid converting it from encoded format to `TxtEntry` array and back to encoded format)
- For Avahi, it may be easier to convert from encoded TXT data to `AvahiStringList`.

@wgtdkp what do you think? do you see any issues with this?

The one thing I noticed in the code, is that we do `SortTxtList` and keep track of the sorted list in `Registeration` entries so that we can detect duplicate publish request. I think we can simplfit this and treat TXT data as data blob (seq of bytes) and compare the bytes directly (if there is a change to data blob, it is a change and need to updated/re-registered on mDNS). 


> The one thing I noticed in the code, is that we do SortTxtList and keep track of the sorted list in Registeration entries so that we can detect duplicate publish request. I think we can simplfit this and treat TXT data as data blob (seq of bytes) and compare the bytes directly (if there is a change to data blob, it is a change and need to updated/re-registered on mDNS).

Practically, I think it should work because an end device likely won't change the order of the TXT entries when it updates one or more entries. But conceptually, we can't guarantee that, though it's also okay that we treat two TXT blob as different values even when there are just order changes (we simply publish the same service for one more time).

> One ides is to change the Publisher APIs to directly get the encoded TXT data instead of a TxtEntry list.
>
> - For mDNSResponder we can directly use the encoded data (so avoid converting it from encoded format to TxtEntry array and back to encoded format)
> - For Avahi, it may be easier to convert from encoded TXT data to AvahiStringList.
> 
> @wgtdkp what do you think? do you see any issues with this?

It sounds okay to me. But if  "Attribute present, with empty value (e.g., "PlugIns=" -- the server supports plugins, but none are presently installed)" is the only problem we are trying to solve, the simplest solution is probably add a boolean flag to `TxtEntry`. Thoughts?

// cc @superwhd 

> But if "Attribute present, with empty value (e.g., "PlugIns=" -- the server supports plugins, but none are presently installed)" is the only problem we are trying to solve, the simplest solution is probably add a boolean flag to TxtEntry.
  
+1 on this. For the code who uses `Publisher` in ot-br-posix I think `TxtEntry` may be slightly more convenient than `otDnsGetNextTxtEntry` (probably due to STL).

Submitted first PR -> https://github.com/openthread/ot-br-posix/pull/1992 on this for enhancing `Encode/DecodeTxtData()` 


All PRs address this are merged. We can close this.